*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Montserrat', serif;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #011936FF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_div{
    width: 800px;
    height: 600px;
    background-color: rgb(249, 246, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.quiz_header{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.questions{
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(90, 79, 79);
    border-radius: 25px;
    background-color: white;
}

.questions h1{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.radio-toolbar {
    margin: 10px;
  }

  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      width: 500px;
      background-color: white;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid rgb(36, 34, 34);
      border-radius: 15px;
      text-align: center;
      vertical-align: middle;
  }
  
  .radio-toolbar label:hover {
    background-color: rgb(145, 221, 245);
    cursor: pointer;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: rgb(130, 201, 223);
      border-color: rgb(26, 109, 204);
  }

.exit_btn{
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 500;
   
}
.exit_btn button{
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    background: rgb(252, 145, 6);
    color: rgb(25, 25, 25);
    font-weight: 600;
    border:none;
    outline: none;
    font-size: 20px;
}
.exit_btn button:hover{
    background-color: rgb(224, 128, 17);
}
.next_btn{
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 500;
  }

input[type=submit]{
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    background: rgb(252, 145, 6);
    color: rgb(25, 25, 25);
    font-weight: 600;
    border:none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
  }

input[type=submit]:hover {
    background-color: rgb(224, 128, 17);
  }